body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  background: url(./images/farm2.jpg) no-repeat;
  background-position-y: -250px;
  background-color: #4994438d;
}

#catchEgg {
  border: solid 1px rgb(105, 19, 19);
  background: url(./images/farm3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#gameover {
  background-image: url(./images/GameOver.png);
  display: block;
  position: relative;
}

#winGame {
  display: block;
  position: relative;
}

catchEgg {
  background-image: url(./images/farm.jpg);
  position: absolute;
}

#canvas {
  background-image: url(URL);
}
