body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  /* background: url("/images/farm2.jpg") no-repeat; */
  background-position-y: -250px;
  background-color: #4b2f53be;
}

#catchEgg {
  border: solid 3px #faf7f5;
  background: url("/images/farm6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#gameover {
  background-image: url("/images/GameOver.png");
  display: block;
  position: relative;
}

#winGame {
  display: block;
  position: relative;
}

catchEgg {
  background-image: url(./images/farm.jpg);
  position: absolute;
}

/* bottons */

#startBTN {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #8f7597 !important;
  border-radius: 10px;
  display: inline-block;
  width: 110px;
}

#startBTN:hover {
  color: #ffffff !important;
  background: #d67b37;
  border-color: #d67b37 !important;
  transition: all 0.4s ease 0s;
}

#restartBTN {
  color: white !important;
  text-transform: uppercase;
  background: #663985;
  padding: 10px;
  border: 1px solid #8f7597 !important;
  border-radius: 10px;
  display: inline-block;
  width: 110px;
}

#restartBTN:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
