#gameover {
  background-image: url("/home/olga/code/Ironhack labs/My-Game/images/GameOver.png");
  display: block;
  position: relative;
}

#winGame {
  display: block;
  position: relative;
}

#catchEgg {
  background-image: url("/home/olga/code/Ironhack labs/My-Game/images/farm.jpg");
  position: absolute;
}

#canvas {
  background-image: url(URL);
}
